---
layout: null
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/images/icon/xiaomiev/bay_blue.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>小米汽车</title>
</head>
<body>
{% for icon in site.static_files %}
    {% if icon.path contains 'images/icon/xiaomiev' %}
      <img src="{{ icon.path }}" alt="{{ icon.name }}" style="border-radius: 22.5%">
    {% endif %}
{% endfor %}
<p>编译时间是 {{ 'now' | date: '%Y-%m-%d %H:%M:%S' }}</p>
</body>
</html>