<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>LeavingMe.net</title>
<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="wrapper">
  <header>
    <h1>LeavingMe.net</h1>
    <p><img id="wechat" width="150" height="150" alt="WeChat"></p>
  </header>
  <section>
  	{{ content }}
  </section>
  <footer>
    <p><img src="http://github.com/unicorn.png" height="20" width="20" style="border-radius:3px; vertical-align: middle;" />&nbsp;<small>Hosted on GitHub Pages</small></p>
  </footer>
</div>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/javascripts/scale.fix.js"></script>
<script>
var index = Math.ceil( ( new Date().getMinutes() + 1 ) / 4.7 );
$('#wechat').attr('src', 'images/wechat/qrcode' + index + '.jpg');

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12193148-1']);
_gaq.push(['_setDomainName', 'leavingme.net']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</body>
</html>