<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>LeavingMe.net</title>
<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="wrapper">
  <header>
    <h1><a href="/">LeavingMe.net</a></h1>
    <a href="http://instagram.com/leavingme?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
    <iframe width="100%" height="450" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=450&fansRow=1&ptype=1&speed=0&skin=5&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1280609995&verifier=9ba1611c&dpc=1"></iframe>>
  </header>
  <section>
  	{{ content }}
  </section>
  <footer>
    <p><img src="http://github.com/unicorn.png" height="20" width="20" style="border-radius:3px; vertical-align: middle;" />&nbsp;<small>Hosted on GitHub Pages</small></p>
  </footer>
</div>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/javascripts/scale.fix.js"></script>
<script>
var index = Math.ceil( ( new Date().getMinutes() + 1 ) / 4.7 );
$('#wechat').attr('src', '/images/wechat/qrcode' + index + '.jpg');

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12193148-1']);
_gaq.push(['_setDomainName', 'leavingme.net']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</body>
</html>
